/* App.less Style Sheets */
/* Less Variables */
/* Main Tags */
a {
  text-decoration: none;
  color: #3498db;
  -o-transition: color 0.2s ease-out, background 1s ease-in;
  -ms-transition: color 0.2s ease-out, background 1s ease-in;
  -moz-transition: color 0.2s ease-out, background 1s ease-in;
  -webkit-transition: color 0.2s ease-out, background 1s ease-in;
  transition: color 0.2s ease-out, background 1s ease-in;
}
a:hover,
a:active {
  color: #f1c40f;
  text-decoration: none;
}
.main {
  margin: auto;
  padding: 32px;
}
#landing {
  background: url("../179H_Small.jpg") no-repeat;
  width: 100%;
  height: 900px;
  position: static;
  top: 0px;
  left: 0px;
}
.welcome {
  position: relative;
  top: 40%;
  text-align: center;
  color: white;
}
